﻿<%@ Page Language='C#' AutoEventWireup='true' CodeBehind='AccountSrvController.aspx.cs' ClientIDMode='Static' Inherits='Evm.AccountManagement.UI.Account.AccountSrvController' EnableViewState='false' %>