﻿<%@ Page Language='C#' AutoEventWireup='true' CodeBehind='ResourceSrvController.aspx.cs' ClientIDMode='Static' Inherits='Evm.AccountManagement.UI.Resource.ResourceSrvController' EnableViewState='false' %>