﻿body 
{
    font-size:12px;
}
label
{
    display:inline-block;
   width:90px;
}
.toolbar
{
    text-align:right;
    position:relative;
    
}
.gray
{
    color:#ccc;
}
.mm li
{
    height:20px;
    line-height:20px;
}