﻿<%@ Page Language='C#' AutoEventWireup='true' CodeBehind='OptLogSrvController.aspx.cs' ClientIDMode='Static' Inherits='Evm.AccountManagement.UI.OperateLog.OptLogSrvController' EnableViewState='false' %>